* {
  border: 0;
  color: #ccc;
  font-family: "Fira Sans";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

box.modules-left {
  font-weight: bold;
  margin-left: 20px;
}

label.module {
  margin: 10px 4px;
  padding: 5px;
}

label#battery.critical {
  background: transparent;
  color: #ff2200;
}

label#battery.warning {
  background: transparent;
  color: #ff6600;
}

label#custom-wlogout.module {
  margin-right: 10px;
}
