* {
  border: 0;
  color: #ccc;
  font-family: "Fira Sans";
  font-size: 17px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

box.modules-left {
  font-weight: bold;
  margin-left: 20px;
}

label.module {
  margin: 10px 4px;
  padding: 5px;
}

label#custom-wlogout.module {
  margin-right: 10px;
}
