spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
spawn-sh-at-startup "ghostty"
spawn-sh-at-startup "librewolf"

prefer-no-csd

input {
  mod-key "Alt"
  focus-follows-mouse

  keyboard {
    xkb {
      layout "us"
      options "caps:swapescape,ctrl:swap_alt_l"
    }
  }

  touchpad {
    tap
    natural-scroll
  }
}

output "DP-1" {
  mode "2560x1440@359.979"
  scale 1
}

layout {
  gaps 20;
  focus-ring { width 2; }
  struts {
    top -15;
  }
}

binds {
  Mod+Q                               { close-window; }
  Mod+Return                          { spawn-sh "ghostty"; }
  Mod+Space                           { spawn-sh "fuzzel"; }
  Mod+Shift+E                         { spawn-sh "BEMOJI_PICKER_CMD='fuzzel -d' bemoji"; }
  Mod+Shift+L                         { spawn-sh "gtklock"; }
  Mod+Tab                             { focus-column-right-or-first; }
  Print                               { screenshot-screen write-to-disk=false; }

  XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMicMute                    allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
  XF86AudioMute                       allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
  XF86MonBrightnessDown               allow-when-locked=true { spawn-sh "brightnessctl s 5%-"; }
  XF86MonBrightnessUp                 allow-when-locked=true { spawn-sh "brightnessctl s 5%+"; }

}

window-rule {
  open-maximized true;
}

environment {
  DISPLAY ":1"
  QT_QPA_PLATFORM "wayland"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  XDG_SESSION_TYPE "wayland"
  XDG_CURRENT_DESKTOP "niri"
}

hotkey-overlay {
  skip-at-startup;
}

switch-events {
  lid-close { spawn "gtklock"; }
}
